{% extends './base.html' %}
{% load static %}
{% block body %}


<h4>Calorie Goal</h4> <br>

<div class="row">
    <div class="col-md-9 offset-1">
        <div class="progress">
            <div class="progress-bar bg-success" role="progressbar" style="width:0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="0">
            
            </div>
        </div>
    </div>
</div>

  <!--TABLE (Nutritional values)-->
    <div class="row mt-5">
        <div class="col-md-12">
            <form method="POST" >
                <div class="form-group row">
                {%csrf_token%}
                <label class="col-md-2">
                    <b>Select Food Item</b>
                </label>
                <select class="col-md-6 form-control" name="food_consumed" id="food_consumed">
                    {% for food in foods %}
                    <option value="{{food.name}}">{{food.name}}</option>
                    {% endfor %}
                </select>
                <button class="btn btn-success m-2" type="submit">Add</button>
            </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            <div>
                <h4>Today's Foods</h4>
            </div>
            <table id="table" class="table table-striped">
                <tr class="bg-primary text-white">
                    <th>Item</th>
                    <th>Carbs(gr)</th>
                    <th>Proteins(gr)</th>
                    <th>Fats(gr)</th>
                    <th>Calories(Kcal)</th>
                    <th>Remove Item?</th>

                </tr>
                {% for c in consumed_food %}
                <tr>
                    <td>{{c.food_consumed.name}}</td>
                    <td>{{c.food_consumed.carbs}}</td>
                    <td>{{c.food_consumed.protein}}</td>
                    <td>{{c.food_consumed.fats}}</td>
                    <td>{{c.food_consumed.calories}}</td>
                    <td><a class="btn btn-danger" href="{% url 'delete' c.id%}">X</a></td>
                </tr>
                {% endfor %}
                <tr>
                    <td id="name"><b>Total</b></td>
                    <td id="totalCarbs"><b></b></td>
                    <td id="totalProteins"><b></b></td>
                    <td id="totalFats"><b></b></td>
                    <td id="totalCalories"><b></b></td>
                    <td id="totalCalories"><b></b></td>
                  
                </tr>
            </table>
        </div>

        <!--CHART-->
        <div class="col-md-5">
            <div>
                <h4>Today's intake</h4>
            </div>
            <div class="card-header text-white bg-primary">
                <h4>Macronutrients breakdown</h4>
            </div>
            <div class="col-md-12">
                <canvas id="myChart" width="400" height="400"></canvas>

            </div>
        </div>
    </div>
</div>

</body>
{% endblock %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    var table = document.getElementById("table");
    var carbs = 0, proteins = 0, fats = 0, calories = 0;

    for (var i = 1; i < table.rows.length - 1; i++) {
        console.log(table.rows[i].cells[1].innerHTML);
        carbs += parseFloat(table.rows[i].cells[1].innerHTML);
        proteins += parseFloat(table.rows[i].cells[2].innerHTML);
        fats += parseFloat(table.rows[i].cells[3].innerHTML);
        calories += parseFloat(table.rows[i].cells[4].innerHTML);
    }

    // Round nutrient totals after the loop
    carbs = Math.round(carbs);
    proteins = Math.round(proteins);
    fats = Math.round(fats);
    calories = Math.round(calories);

    console.log(fats);

    // Get cells where totals will be displayed (use id):
    document.getElementById("totalCarbs").innerHTML = '<b>' + carbs + '(gr) </b>';
    document.getElementById("totalProteins").innerHTML = '<b>' + proteins + '(gr) </b>';
    document.getElementById("totalFats").innerHTML = '<b>' + fats + '(gr) </b>';
    document.getElementById("totalCalories").innerHTML = '<b>' + calories + '(Kcal) </b>';

    // Calculates proportions for the progress bar
    var calPer = (calories / 2000) * 100;
    document.getElementsByClassName("progress-bar")[0].setAttribute("style", "width:" + calPer + "%");

    // Percentages to be used in the chart
    var total = carbs + proteins + fats;
    var carbsP = Math.round((carbs / total) * 100);
    var proteinsP = Math.round((proteins / total) * 100);
    var fatsP = Math.round((fats / total) * 100);

    // CHART CODE
    var ctx = document.getElementById('myChart').getContext('2d'); // Gives me access to the canvas
    var myChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: ['Carbs ' + carbsP + '%', 'Protein ' + proteinsP + '%', 'Fats ' + fatsP + '%'],
            datasets: [{
                label: 'Macronutrients',
                data: [carbsP, proteinsP, fatsP],
                backgroundColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                ],
                borderWidth: 1
            }]
        },
    });
</script>
{% endblock %}

</html>